:root {
    --header-text-color: #212121;
    --header-link-color: #757575;
    --accent-color: #2196f3;
    --title-color: #212121;
    --hero-title-color: #ffffff;
    --hero-btn-title: #ffffff;
    --first-text-color: #757575;
    --second-text-color: #757575;
}
body {
    font-family: "Roboto", sans-serif;
    background-color: #e5e5e5;
    color: #212121;
}

a {
    text-decoration: none;
}

.list {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* ---------------HEADER--------------- */

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    line-height: calc(31 / 25);
    letter-spacing: 0.03em;
    color: #000000;
}

.logo-text {
    color: var(--accent-color);
}

.link {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--header-text-color);
}

.link:hover,
.link:focus {
    color: var(--accent-color);
}

.link.active-page {
    color: var(--accent-color);
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--header-link-color);
}

.site-link:hover,
.site-link:focus {
    color: var(--accent-color);
}

/* -----------HERO------------ */

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--hero-title-color);
}

.hero-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    color: var(--hero-btn-title);
}

/* ----------SECTION ADVANTAGES---------- */

.advantages-title {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
}

.advantages-text {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--first-text-color);
}

/* -------------SECTION ABOUT-------------- */

.about-title {
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

/* -----------SECTION TEAM-------------- */

.team-title {
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

.team-list {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

.team-text {
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}

/* ---------FOOTER--------- */

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: #ffffff;
}

.address-map {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: #ffffff;
}

.address-link {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.address-map:hover,
.address-map:focus {
    color: var(--accent-color);
}
.address-link:hover,
.address-link:focus {
    color: var(--accent-color);
}
