:root {
    --header-text-color: #212121;
    --header-link-color: #757575;
    --accent-color: #2196f3;
    --title-color: #212121;
    --hero-title-color: #ffffff;
    --hero-btn-title: #ffffff;
    --first-text-color: #757575;
    --second-text-color: #757575;
    --portfolio-btn-color: #212121;
}
body {
    font-family: "Roboto", sans-serif;
    background-color: var(--hero-title-color);
    color: var(--header-text-color);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* ---------------HEADER--------------- */

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    line-height: calc(31 / 25);
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.logo-text {
    color: #000000;
}

.link {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--header-text-color);
}

.link:hover,
.link:focus {
    color: var(--accent-color);
}

.link.active-page {
    color: var(--accent-color);
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--header-link-color);
}

.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}

/* -----------HERO------------ */

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--hero-title-color);

    background-color: #2f303a;
}

.hero-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--hero-btn-title);

    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;
    cursor: pointer;
}

/* ----------SECTION ADVANTAGES---------- */

.advantages-title {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
}

.advantages-text {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--first-text-color);
}

/* -------------SECTION ABOUT-------------- */

.about-title {
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

/* -----------SECTION TEAM-------------- */

.team-title {
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

.team-item {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

.team-text {
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}

/* ---------FOOTER--------- */

.footer {
    background: #2f303a;
}

.footer-logo {
    color: #ffffff;
    /* font-family: "Raleway", sans-serif;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: #ffffff; */
}

.address {
    font-style: normal;
}

.address-map {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: #ffffff;
}

.address-link {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.address-map:hover,
.address-map:focus {
    color: var(--accent-color);
}
.address-link:hover,
.address-link:focus {
    color: var(--accent-color);
}

/* ---------PORTFOLIO---------- */

.filter {
    display: flex;
}
.filter-link:not(:last-child) {
    margin-right: 8px;
}

.filter-link {
    padding: 6px 22px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--portfolio-btn-color);

    background: #f5f4fa;
    border-radius: 4px;
    border: transparent;
    cursor: pointer;
}

.filter-link:hover,
.filter-link:focus {
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    color: var(--title-color);
}

.portfolio-text {
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}
